webapp_nameservers = precise64.sejo-it.be.,precise32.sejo-it.be.
servername = {{ servername }}
db_name = zonedata
db_hostname = localhost
db_username = atomiadns
db_password = {{ db_password }}
require_auth = 1
auth_admin_user = {{ auth_admin_user }}
auth_admin_pass = {{ auth_admin_pass }}
soap_uri = http://localhost/atomiadns
soap_username = {{ soap_username }}
soap_password = {{ soap_password }}
powerdns_db_database = powerdns
powerdns_db_hostname = localhost
powerdns_db_username = powerdns
powerdns_db_password = {{ powerdns_db_password }}
